/* src/styles/Home.css */

.container {
    margin-top: 2rem;
  }
  
  .jumbotron {
    background-image: url('../Images/cover.png'); /* Set your image path here */
    background-size: cover; /* Ensures the background image covers the whole jumbotron */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white; /* Change text color for better contrast */
  }
  
  
  .heading {
    font-size: 2.5rem;
    font-weight: bold;
    /* color: #2c3e50; */
    color: white;
  }
  
  .subheading {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 600;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
    color: #34495e;
  }
  

.featured-hostels-header {
    display: flex;
    justify-content: space-between; /* Space out title and buttons */
    align-items: center; /* Align items vertically centered */
    margin-bottom: 20px; /* Space below the header */
}

.view-toggle button {
    margin-left: 10px; /* Space between buttons */
}

.search-input {
    max-width: 500px;
    margin-right: 20px;
  }
  